<!--
Important Notice: If you are reading this part of the email, you may want
to consider upgrading your mail reader so that you can read HTML messages.
-->

<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{=title}}</title>
  </head>

  <body>

    <style type="text/css">
      h1  {}
      h2  {}
      p   {}
      pre {}
    </style>

    <p>The server encountered an error.</p>

    <h1>{{=title}}</h1>

    <p>
      {{=message}}
    </p>

    <h2>Stack trace</h2>
    <pre>
      {{=stackTrace}}
    </pre>

    <!--
    <img width="1" height="1" src="--didAdminSeeTheMailTrackingUrl--"
         style="height:1px !important;width:1px !important;border-width:0 !important;
                margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;
                margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;
                padding-right:0 !important;padding-left:0 !important;"/>
    -->
  </body>
</html>
